{% extends "admin/change_form.html" %} 
{% load i18n %}

{% block content_title %}<h1>{% trans "Original" %}</h1>{% endblock %}

{% block content %}
	<div style="border: 1px solid #CCCCCC; margin-bottom: 10px;"> 
		<div class="form-row">
			<label class="required">{% trans "Subject" %}:</label> {{original.subject}}
		</div>
	
		<div class="form-row">
			<label class="required">{% trans "Recipients Users" %}:</label> {{original.recipients.all|join:', ' }}
		</div>
	
		{% with original.email as email %}
			<div class="form-row">
				<label class="required">{% trans "Email To" %}:</label> {{email.to|join:', ' }}
			</div>
            {% if email.cc %}
            <div class="form-row">
                <label class="required">{% trans "Email Cc" %}:</label> {{email.cc|join:', ' }}
            </div>
            {% endif %}
            {% if email.bcc %}
            <div class="form-row">
                <label class="required">{% trans "Email Bcc (not visible)" %}:</label> {{email.bcc|join:', ' }}
            </div>
            {% endif %}
			<div class="form-row">
				<label class="required">{% trans "Email from" %}:</label> 
				{% if original.sender %}
					 {{original.sender }}
				{% else %}
					{{email.from_email }}
				{% endif %}
			</div>
			
			{% if alternatives %}
			<div class="form-row" style="padding: 25px;">
				{% for alt in alternatives %}
					{{alt|safe}}
				{% endfor %}
			</div>
			{% endif %}
			<div class="form-row" style="padding: 25px;">
				<pre>{{email.body}}</pre>
			</div>		
		{% endwith %}
	</div>
	{% if title %}<h1>{{ title }}</h1>{% endif %}
	{{ block.super }}
{% endblock %}