{% extends "admin/base_site.html" %} 
{% block title %}{% trans "Email senden" %} | {% trans 'Django site admin' %}{% endblock %}

{% block bodyclass %}change-form{% endblock %}
{% block extrastyle %}
	{{ block.super }}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css" />
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst }}Djpostman</a> &rsaquo;
     <a href="../">{{ opts.verbose_name_plural|capfirst }}Messages</a> &rsaquo;
     {% trans "Email senden" %}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
	<h1>{% trans "Email senden" %}</h1>
	<form action="." method="post" id="send_form">{% csrf_token %}
		<div>
			{% if form.errors %}
			    <p class="errornote">
			    {% trans "Bitte die aufgeführten Fehler korrigieren. " %}
			    </p>
			{% endif %}
			<fieldset class="module aligned ">
			{% for f in form %}
				<div class="form-row field-site {% if f.errors %} errors{% endif %}">
					{{ f.errors }}
		            <div>
		            	<label class="{%if field.field.required %} required{% endif %}" for="id_{{ field.html_name }}">
							{{ f.label }}
						</label>
		            	{{ f }}
		            	
		            	{% if f.help_text %}
							<p class="help">{{ f.help_text|safe}}</p>
						{% endif %}
		            </div>
		        </div>
			{% endfor %}
			</fieldset>
			<div class="submit-row">
				<input type="submit" name="_save" class="default" value="{% trans "Email absenden" %}">
			</div>
		</div>
	</form>
</div>
{% endblock %}